body {
    background-color: #111827;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    margin-top: 10rem;
    height: 8rem;
    width: 8rem;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-box {
    border: 8px solid white;
    height: 70%;
    width: 70%;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.inner-box::after {
    content: '';
    border: 8px solid white;
    height: 50%;
    width: 50%;
    border-radius: 50%;
}

.inner-box::before {
    content: '';
    background-color: white;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    position: absolute;
    top: 7px;
    right: 7px;
}