body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1C2A44;
    font-family: Arial, Helvetica, sans-serif;
}

.circles {
    width: 30px;
    height: 30px;
    animation: bounce 1s 0.7s linear infinite;
    border-radius: 100%;
    margin: 10px;
}

.circle-1 {
    background-color: #9EDFDC;
}

.circle-2 {
    animation-delay: 0.2s;
    background-color: #9EDFDC;
}

.circle-3 {
    animation-delay: 0.4s;
    background-color: #9EDFDC;
}

@keyframes bounce {

    0%,
    50%,
    100% {
        transform: scale (1);
        filter: blur(0px);
    }

    25% {
        transform: scale(0.6);
    }

    75% {
        transform: scale(1.4);
        background-color: #02E4E7;
    }
}