@import url("https://fonts.googleapis.com/css2?family=Poppins");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10rem 0;
}

#hex {
    font-size: 1.2rem;
    font-weight: bold;
    background-color: white;
    padding: 5px 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#generateBtn {
    padding: 8px 12px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 10px;
}