body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f68f3b;
}

.followers {
    position: fixed;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25%) rotate(-10deg);
    width: 64vw;
    height: 28vw;
    fill-rule: evenodd;
    fill: none;
    stroke: #ebeef5;
    stroke-width: 5px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dashoffset: 1006px;
    stroke-dasharray: 1006px;
}

.followers.stroke {
    stroke: #fff;
    z-index: 2;
    transform: translate(-50%, -24%) rotate(-10deg);
    stroke-width: 10px;
}

.followers.shadow {
    stroke: black;
    z-index: 0;
    opacity: 0.1;
    filter: blur(10px);
    transform: translate(-50%, -22%) rotate(-10deg);
    stroke-width: 8px;
}