
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: #333;
    text-align: center;
    overflow-x: hidden;
}

a {
    color: #336699;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #23527c;
    text-decoration: underline;
}

h1,
h2 {
    font-weight: 100;
    letter-spacing: 2px;
}

h1 {
    font-size: 38px;
    margin: 40px 0 10px 0;
}

h2 {
    font-size: 26px;
    margin: 10px 0;
}

h2.animated {
    animation-delay: 1s;
    /* animation-iteration-count: infinite;
animation-duration: 0.5s; */
}

#animation-container {
    position: relative;
    height: 50vh;
    width: 50vw;
    margin: 30px auto;
    /* border: 1px solid #333; */
    overflow: hidden;
}

.animated-icon {
    position: absolute;
    color: #333;
    font-size: 50px;
}

#animation-button {
    display: block;
    margin: 0 auto;
    font-size: 30px;
    height: 80px;
    width: 80px;
    color: #fff;
    background-color: rgba(51, 51, 51, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.075);
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    transition: all 0.3s;
    animation-delay: 1.5s;
}

#animation-button:hover {
    background-color: rgba(51, 51, 51, 0.85);
}

#animation-button:active {
    background-color: rgba(51, 51, 51, 1);
}

#footer {
    font-size: 18px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 25px;
    animation-delay: 1.5s;
}

#footer i,
#footer a {
    font-size: 20px;
    margin: 0 8px;
}

#footer a {
    font-style: italic;
    font-weight: 600;
}

#footer .fa-code {
    color: #336699;
}

#footer .fa-heart {
    color: #ff3333;
}

@media (max-width: 767px) {
    h1 {
        font-size: 30px;
        margin: 25px 0 10px 0;
    }

    h2 {
        font-size: 18px;
    }

    #animation-container {
        height: 50vh;
        width: 70vw;
    }

    #animation-button {
        font-size: 26px;
        width: 70px;
        height: 70px;
    }

    .animated-icon {
        font-size: 40px;
    }

    #footer {
        font-size: 16px;
        padding: 20px;
    }

    #footer i,
    #footer a {
        font-size: 18px;
    }
}

@media (max-height: 639px) {
    #footer {
        position: static;
        padding-bottom: 10px;
    }
}