button {
    padding: 12px;
    width: 198px;
    cursor: pointer;
    background: #799be6;
    color: rgb(0, 0, 0);
    transition: .5 ease;
    border-radius: 10px;
}

button:hover {
    background: transparent;
    border: 2px solid #799be6;
    box-shadow: 0 0 10px 0 #799be6 inset,
        0 0 10px 4px #799be6;
    border-radius: 10px;
}